/* Estilo geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

/* Estilo corpo da página */
body {
  height: 100vh;
  background-image: url(./assets/bali-page-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  overflow: hidden;
  backdrop-filter: blur(4px);
}

/* Estilo do cabeçalho da página */
header {
  display: flex;
  width: 80%;
  height: 50px;
  position: relative;
  align-items: center;
  margin: auto;
  z-index: 1;
}

header a {
  color: #fff;
  margin-right: 35px;
}

/* Estilo container principal */
.container {
  height: 100vh;
  width: 100vw;
  margin: 80px 0 0 100px;
}

/* Estilo div text sobre */

.container h2 {
  font-size: 2.5em;
}

.container p {
  padding-right: 20%;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

.container .cultura h2 {
  margin-top: 40px;
}
